python-dotenv==1.1.0
pytube==15.0.0
pyyaml==6.0.2
rich==14.0.0
wcwidth==0.2.13
yarl==1.19.0
aiohttp==3.11.16
aiofiles==24.1.0
prompt_toolkit==3.0.50
pyyaml==6.0.2
click==8.2.0
pytube==15.0.0
fastapi
requests
uvicorn
setuptools